HIVY_MICROSANDBOX_PREVIEW_CACHE_ADDR={{ microsandbox_preview_cache_addr }}
HIVY_MICROSANDBOX_PREVIEW_CACHE_PORT={{ microsandbox_preview_cache_port }}
HIVY_MICROSANDBOX_PREVIEW_CACHE_REDIS_URL={{ microsandbox_preview_cache_redis_url }}
HIVY_MICROSANDBOX_PREVIEW_CACHE_TOKEN={{ microsandbox_preview_cache_env.HIVY_MICROSANDBOX_PREVIEW_CACHE_TOKEN }}
HIVY_MICROSANDBOX_RUNNER_API_TOKEN={{ microsandbox_preview_cache_env.HIVY_MICROSANDBOX_RUNNER_API_TOKEN }}
HIVY_MICROSANDBOX_PREVIEW_BASE_DOMAIN={{ microsandbox_preview_cache_env.HIVY_MICROSANDBOX_PREVIEW_BASE_DOMAIN | default('preview.usehivy.com') }}
{% if microsandbox_preview_cache_env.HIVY_PREVIEW_ACTIVITY_API_URL is defined %}
HIVY_PREVIEW_ACTIVITY_API_URL={{ microsandbox_preview_cache_env.HIVY_PREVIEW_ACTIVITY_API_URL }}
{% endif %}
{% if microsandbox_preview_cache_env.HIVY_PREVIEW_ACTIVITY_TOKEN is defined %}
HIVY_PREVIEW_ACTIVITY_TOKEN={{ microsandbox_preview_cache_env.HIVY_PREVIEW_ACTIVITY_TOKEN }}
{% endif %}
{% if microsandbox_preview_cache_env.HIVY_MICROSANDBOX_CONTROL_URL is defined %}
HIVY_MICROSANDBOX_CONTROL_URL={{ microsandbox_preview_cache_env.HIVY_MICROSANDBOX_CONTROL_URL }}
{% endif %}
{% if microsandbox_preview_cache_env.HIVY_MICROSANDBOX_PREVIEW_WAKE_TOKEN is defined %}
HIVY_MICROSANDBOX_PREVIEW_WAKE_TOKEN={{ microsandbox_preview_cache_env.HIVY_MICROSANDBOX_PREVIEW_WAKE_TOKEN }}
{% endif %}
HIVY_MICROSANDBOX_PREVIEW_WAKE_TIMEOUT={{ microsandbox_preview_cache_env.HIVY_MICROSANDBOX_PREVIEW_WAKE_TIMEOUT | default('55s') }}
{% if microsandbox_preview_cache_env.VERCEL_AUTH_API_TOKEN is defined and microsandbox_preview_cache_env.VERCEL_AUTH_API_TOKEN | trim | length > 0 %}
VERCEL_AUTH_API_TOKEN={{ microsandbox_preview_cache_env.VERCEL_AUTH_API_TOKEN }}
{% endif %}
